.btn {
    width: 200px;
}

#btns{
    margin-top: 100px;
}
.num {
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.time{
    font-size: 70px;
}